<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="urlPost" value="http://localhost:3000/message"/>
    <add key="urlGetMessage" value="http://localhost:3000/message/"/>
    <add key="utlGetMessages" value="http://localhost:3000/messages/"/>
    <add key="urlPutAuthenticate" value="http://localhost:3000/authenticate"/>
  </appSettings>
</configuration>